@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow-y: scroll;
}

video-player-container {
  display: flex;
  gap: 10px; /* Add space between the videos /
  
  justify-content: center; / Center the videos / */
  justify-content: center;
  width: 100%;
  height: auto;
  margin-left: auto; 
}

video-player-container video {
  margin-left: auto;
  width: 40%;
  height: auto;
}

video-player {
  width: 40%;
  height: auto;
  aspect-ratio: 16/9;
}
